BOT_TOKEN=your_bot_token_here
ALLOWED_USER_ID=your_telegram_user_id
ALIST_WEBDAV_CRYPT=http://openlist:5244/dav/PrivateVideo/
ALIST_WEBDAV_DIRECT=http://openlist:5244/dav/Onedrive/
ALIST_API_URL=http://openlist:5244
ALIST_USER=admin
ALIST_PASS=password
